# Python Basics
## Todays topics


- Input and output
- Varables in python
- Type conversions in python
- Operations in python
- Conditional statements

In [1]:
print("Hello World!")

Hello World!

In [2]:
print("Today's date is",29)

Today's date is 29

In [3]:
print("Today's date is",29,sep = "-")

Today's date is-29

In [4]:
print(1,2,3,4,5,sep = "\t" )

1	2	3	4	5

In [5]:
print(1,2,3,4,5,sep = "abc" )

1abc2abc3abc4abc5

In [6]:
print("Hello World!")
print("Hello World!")
print("Hello World!")

Hello World!
Hello World!
Hello World!

In [7]:
print("Hello World!", end = "\t")
print("Hello World!", end = "\t")
print("Hello World!")

Hello World!	Hello World!	Hello World!

### Variable

- It can contain AZaz09_
- variable is a named memory location which holds some value
- No special characters should be included in variable name except underscore
- Keywords are not allowed as variables
- Python is Case sensitive

In [11]:
a = 10
A =  5
_a = 55
# 1a = 66 ##invalid
_ = 65
# a-b = 23+66 ##invaild
a9 = "Hai"
a9_ = "Hello"

### Data types in python

- Primary data types : int, float, complex, string, boolean
- Secondary data types : List, tuples, dictionaries, sets

In [13]:
a = 55
b = 55.66
c = 5 + 6j
d =True
e = 'a+5/.,;'
f = ["python" ,65, 5+6j, 55.4]
g = ("python" ,65, 5+6j, 55.4)
h = {"Name" : 'Python'}
i = {1,2,3,4}

In [14]:
print(type(a))

<class 'int'>

In [15]:
a = 33.4
print(type(a))

<class 'float'>

In [16]:
print(type(c))

<class 'complex'>

In [17]:
a = input()

123

In [18]:
abc = 987.6

In [19]:
print(type(a))

<class 'str'>

In [20]:
 b = input()

1,2,3

In [21]:
print(b,type(b))

1,2,3 <class 'str'>

# Type Conversions

In [22]:
a = int(input())

print(a, type(a))

123
123 <class 'int'>

In [23]:
a = int(input())

print(a, type(a))

12.33

ValueError: invalid literal for int() with base 10: '12.33'

In [24]:
a = float(input())

print(a, type(a))

255.6
255.6 <class 'float'>

### Number system
- Decimal : 10(0 to 9)
- Binary : 2(0,1)
- Octal : 8(0 to 7)
- Hexadecimal : 16(0 to 15)

In [25]:
a = 55
print(bin(a),oct(a),hex(a),sep = "\t")

0b110111	0o67	0x37

In [26]:
print(int('11011',2), int('65',8), int("128",16),sep = "\t")

27	53	296

# ASCII

In [27]:
print(ord("a"))

97

In [29]:
print(chr(97))

a

### Operators in python

- Arithmatic +,-,*,%,/
- Logical and,or,not
- Comparision/relational <,>,<=,>=,==,!=
- Bitwise &(and),|(or),~(not),^(Xor),>>(right shift),<<(left shift)
- Assignment +=,-=,/=,%=,//=,**= 
- Identity is ,not is
- Membership in , not in

In [30]:
a = 4
b= 10

print(a+b, a-b, a*b, a/b, a%b, a//b, a**2, sep = "\t")

14	-6	40	0.4	4	0	16

# and


|inp1|inp2|inp1 and inp2|
|---|---|---|
|F|F|F|
|F|T|F|
|T|F|F|
|T|T|T|


# or


|inp1|inp2|inp1 or inp2|
|---|---|---|
|F|F|F|
|F|T|T|
|T|F|T|
|T|T|T|


# not

|inp| not inp|
|---|---|
|T|F|
|F|T|

In [32]:
a = 1
b = 0
c = '0'

print(a and b, a or b , not a, a and c, not c, sep = "\t")

0	1	False	0	False

In [33]:
print(c and a)

1

In [34]:
a = 5
b = 6
c = 0

print(a and b)

6

In [35]:
print(a and c, c and a)

0 0

In [36]:
a = 5
b = 6

print(a < b, a > b, a == b)

True False False

###  Bitwise operators

4   -> 0100
10  -> 1010
       _____
       0000 -> and
       1110 -> or
       
       
~a
4 -> 0100
~4 -> 0001

In [37]:
a = 4
b = 10

print(a & b, a | b, ~a, sep = "\t")

0	14	-5

### Xor- ^

XOR -> A'B + AB'

|inp1|inp2|inp1 xor inp2|
|---|---|---|
|F|F|F|
|F|T|T|
|T|F|T|
|T|T|F|

a = 4  -> 0100
b = 10 -> 1010
        _________
           1110 -> 14

In [38]:
print(a^b)

14

### Left and right shift

 a = 4 -> 0100
 a << 2 -> 010000 -> 16
 a >> 2 -> 0001 ->1

In [39]:
a = 4

print( a << 2, a>>2)

16 1

In [40]:
a = 5

a = a + 10
print(a)
a += 10
print(a)
a -= 5
print(a)
a **= 2
print(a)

15
25
20
400

## Membership Operator

In [41]:
a = "Python"
b = "Py"
c = "py"

print(a in b, a in c, a not in c)

False False True

In [45]:
a = 5
b = 5.5
c = 5
d = [1,2,3]
e = [1,2,3]
f = d

In [46]:
print(f)

[1, 2, 3]

In [47]:
print(a == c, d == e, d == f)

True True True

In [48]:
print(id(a))
print(id(c))
print(id(d))
print(id(f))
print(id(e))

140705741940656
140705741940656
2015291489344
2015291489344
2015291294976

In [50]:
d.append("Python")

print(d)
print(f)

[1, 2, 3, 'Python', 'Python']
[1, 2, 3, 'Python', 'Python']

In [51]:
print(d,e,f)
print(d is e, d is f, e is f)

[1, 2, 3, 'Python', 'Python'] [1, 2, 3] [1, 2, 3, 'Python', 'Python']
False True False