# Topics


- Dictionaries
    - Accessing elements
    - Dictionary methods
- Sets
    - Set methods
    - We cannot access set elements by indexing or slicing because it is an unordered data collection.

## Dictionaries

- It is used to stire non-homogeneous group of data in the form of key: value

## Properties

- It is used to store data as  K:V in {}
- It is iterable
- Ordered
    - Python 3.6 is unordered
    - Python 3.6+ is ordered
- Key should be unique and immutable
- Value can be anything

In [1]:
d1 = {}
d2 = dict()

print(type(d1))
print(type(d2))

<class 'dict'>
<class 'dict'>

In [2]:
d1 = {"Roll no": [1,2,3,4,5,6]}

print(d1)

{'Roll no': [1, 2, 3, 4, 5, 6]}

In [26]:
d1 = {"1234567890" : ["Sanjana","Srikakulam","01/01/2001","9876543210"],
     "1234456789": ["Manogna","Aldie","26/03/2013","9887654321"],
     "1233456789": ["Jyothsna","Vishakapatnam","17/03/1999","9876544321"]}

print(d1)

{'1234567890': ['Sanjana', 'Srikakulam', '01/01/2001', '9876543210'], '1234456789': ['Manogna', 'Aldie', '26/03/2013', '9887654321'], '1233456789': ['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']}

In [5]:
d2 = {[1,2,3]: "Python"}

TypeError: unhashable type: 'list'

In [7]:
d2 = {(1,2,3): "Python"}

print(d2)

{(1, 2, 3): 'Python'}

## Accessing the pairs form the dict

In [8]:
print(d1)

{'1234567890': ['Sanjana', 'Srikakulam', '01/01/2001', '9876543210'], '1234456789': ['Manogna', 'Aldie', '26/03/2013', '9887654321'], '1233456789': ['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']}

In [9]:
print(d1['1234567890'])

['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']

In [10]:
print(d1['123456789'])

KeyError: '123456789'

In [12]:
d1['1234567890'] = ['Sanjana', 'Sklm', '01/01/2001', '08942278787']

print(d1['1234567890'])

['Sanjana', 'Sklm', '01/01/2001', '08942278787']

In [13]:
print(d1['1234567890'][2])

01/01/2001

In [17]:
d1['1234567890'][2] = "01/02/2003"

print(d1['1234567890'])

['Sanjana', 'Sklm', '01/02/2003', '08942278787']

In [19]:
d1['1234567890'][1] = "Srikakulam"

print(d1['1234567890'])

['Sanjana', 'Srikakulam', '01/02/2003', '08942278787']

In [20]:
d1['1234567890'][0] = "Samhitha"

print(d1['1234567890'])

['Samhitha', 'Srikakulam', '01/02/2003', '08942278787']

In [21]:
d1['1234567890'] = sorted(d1['1234567890'])

print(d1['1234567890'])

['01/02/2003', '08942278787', 'Samhitha', 'Srikakulam']

In [25]:
d1 = {123:456, 132:344, 123:456}

print(d1)

{123: 456, 132: 344}

In [23]:
print(d1[123])

456

In [27]:
print(d1)

{'1234567890': ['Sanjana', 'Srikakulam', '01/01/2001', '9876543210'], '1234456789': ['Manogna', 'Aldie', '26/03/2013', '9887654321'], '1233456789': ['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']}

In [28]:
print(d1.keys())

dict_keys(['1234567890', '1234456789', '1233456789'])

In [29]:
print(d1.values())

dict_values([['Sanjana', 'Srikakulam', '01/01/2001', '9876543210'], ['Manogna', 'Aldie', '26/03/2013', '9887654321'], ['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']])

In [30]:
print(d1.items())

dict_items([('1234567890', ['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']), ('1234456789', ['Manogna', 'Aldie', '26/03/2013', '9887654321']), ('1233456789', ['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321'])])

In [31]:
d1.get('1234567890')

['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']

In [32]:
print(d1.get("123"))

None

In [33]:
print(d1.get("123", "Key not available"))

Key not available

In [34]:
print(d1.get('1234567890', "key not available"))

['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']

In [36]:
marks_1 = {"rollno": [25,55,65,77,80,60], "3_1": [1,2,4,5,6]}
supply_2_1_1 = {"rollno":[35,55,65,77,80,60]}
supply_2_1_2 = {"rollno":[50,55,65,77,80,60], "3_2": [6,5,4,3,2,1]}

In [37]:
print(marks_1)
marks_1.update(supply_2_1_1)
print(marks_1)

{'rollno': [25, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6]}
{'rollno': [35, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6]}

In [38]:
print(marks_1)
marks_1.update(supply_2_1_2)
print(marks_1)

{'rollno': [35, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6]}
{'rollno': [50, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6], '3_2': [6, 5, 4, 3, 2, 1]}

In [39]:
copy = marks_1.copy()

print(copy)

{'rollno': [50, 55, 65, 77, 80, 60], '3_1': [1, 2, 4, 5, 6], '3_2': [6, 5, 4, 3, 2, 1]}

In [40]:
marks_1.clear()

print(marks_1)

{}

In [41]:
del marks_1

print(marks_1)

NameError: name 'marks_1' is not defined

In [42]:
l1 = [1,2,3]
a, b, c = l1
print(a,b,c)

1 2 3

In [43]:
a, b = [1,2,3]

ValueError: too many values to unpack (expected 2)

In [44]:
a, b, c, d = [1,2,3]

ValueError: not enough values to unpack (expected 4, got 3)

In [47]:
## unpacking
a,b,c,d = (1,1,2,3)

print(a,b,c,d)

1 1 2 3

In [48]:
## packing
l2 = [a,b,c,d]

print(l2)

[1, 1, 2, 3]

In [49]:
print(len(d1))

3

In [50]:
print(max(d1))

1234567890

In [51]:
print(min(d1))

1233456789

## Iterating

In [52]:
for pair in d1:
    print(pair)

1234567890
1234456789
1233456789

In [53]:
for val in d1.values():
    print(val)

['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']
['Manogna', 'Aldie', '26/03/2013', '9887654321']
['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']

In [54]:
for pair in d1:
    print(d1[pair])

['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']
['Manogna', 'Aldie', '26/03/2013', '9887654321']
['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']

In [55]:
for pair in d1:
    print(d1.get(pair))

['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']
['Manogna', 'Aldie', '26/03/2013', '9887654321']
['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']

In [56]:
for pair in d1.items():
    print(pair)

('1234567890', ['Sanjana', 'Srikakulam', '01/01/2001', '9876543210'])
('1234456789', ['Manogna', 'Aldie', '26/03/2013', '9887654321'])
('1233456789', ['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321'])

In [57]:
for pair in d1.items():
    print(pair[0])

1234567890
1234456789
1233456789

In [59]:
for key,value in d1.items():
    print(key)
    print(value)
    print("*"*10)

1234567890
['Sanjana', 'Srikakulam', '01/01/2001', '9876543210']
**********
1234456789
['Manogna', 'Aldie', '26/03/2013', '9887654321']
**********
1233456789
['Jyothsna', 'Vishakapatnam', '17/03/1999', '9876544321']
**********

{1:1,2:4,3:9......,10:100}

In [61]:
sq = {}


for i in range(1, 101):
    sq[i] = i**2
    
print(sq)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225, 16: 256, 17: 289, 18: 324, 19: 361, 20: 400, 21: 441, 22: 484, 23: 529, 24: 576, 25: 625, 26: 676, 27: 729, 28: 784, 29: 841, 30: 900, 31: 961, 32: 1024, 33: 1089, 34: 1156, 35: 1225, 36: 1296, 37: 1369, 38: 1444, 39: 1521, 40: 1600, 41: 1681, 42: 1764, 43: 1849, 44: 1936, 45: 2025, 46: 2116, 47: 2209, 48: 2304, 49: 2401, 50: 2500, 51: 2601, 52: 2704, 53: 2809, 54: 2916, 55: 3025, 56: 3136, 57: 3249, 58: 3364, 59: 3481, 60: 3600, 61: 3721, 62: 3844, 63: 3969, 64: 4096, 65: 4225, 66: 4356, 67: 4489, 68: 4624, 69: 4761, 70: 4900, 71: 5041, 72: 5184, 73: 5329, 74: 5476, 75: 5625, 76: 5776, 77: 5929, 78: 6084, 79: 6241, 80: 6400, 81: 6561, 82: 6724, 83: 6889, 84: 7056, 85: 7225, 86: 7396, 87: 7569, 88: 7744, 89: 7921, 90: 8100, 91: 8281, 92: 8464, 93: 8649, 94: 8836, 95: 9025, 96: 9216, 97: 9409, 98: 9604, 99: 9801, 100: 10000}

In [62]:
for key in sq:
    if key%2 == 0:
        print(sq[key], end = "\t")

4	16	36	64	100	144	196	256	324	400	484	576	676	784	900	1024	1156	1296	1444	1600	1764	1936	2116	2304	2500	2704	2916	3136	3364	3600	3844	4096	4356	4624	4900	5184	5476	5776	6084	6400	6724	7056	7396	7744	8100	8464	8836	9216	9604	10000

In [64]:
## Task 
## character frequency inside a string

s = """Python is an interpreted high-level general-purpose programming language. Python's design philosophy emphasizes code readability with its notable use of significant indentation. Its language constructs as well as its object-oriented approach aim to help programmers write clear, logical code for small and large-scale projects.[30]
Python is dynamically-typed and garbage-collected. It supports multiple programming paradigms, including structured (particularly, procedural), object-oriented and functional programming. Python is often described as a "batteries included" language due to its comprehensive standard library."""

d = {}
for char in s:
    d[char] = s.count(char)
print(d)

{'P': 4, 'y': 11, 't': 39, 'h': 13, 'o': 33, 'n': 35, ' ': 74, 'i': 39, 's': 32, 'a': 47, 'e': 51, 'r': 38, 'p': 22, 'd': 25, 'g': 23, '-': 7, 'l': 32, 'v': 2, 'u': 16, 'm': 15, '.': 6, "'": 1, 'z': 1, 'c': 23, 'b': 8, 'w': 3, 'f': 5, 'I': 2, 'j': 3, ',': 4, '[': 1, '3': 1, '0': 1, ']': 1, '\n': 1, '(': 1, ')': 1, '"': 2}

### Contact Application


{"Name" : ["Mobile number","email","DOB","website"]}

Take input from user of choice
- 1. Create contact ->key : value
- 2. add the contact to existing contact -> key -> name
- 3. edit the contact -> key -> value
- 4. delete the contact ->name
- 5. View contact

In [9]:
option = input("""Press the option
1. Create contact  
2. add the contact to existing contact  
3. edit the contact 
4. delete the contact
5. View contact""")

Press the option
1. Create contact
2. add the contact to existing contact
3. edit the contact
4. delete the contact
5. View contact2

In [3]:
contact = {}

In [4]:

if option == "1":
    key = input("Enter contact name:")
    value = input("Enter details with space seperator").split()
    contact[key] = value

Enter contact name:sanju
Enter details with space seperator518 cse jntuk

In [5]:
print(contact)

{'sanju': ['518', 'cse', 'jntuk']}

In [10]:
if option == "2":
    name = input("Enter name to add existing contact")
    if name in contact:
        data = input("Enter data to update").split()
        contact[name].extend(data)
    else:
        print(name, "contact is not available")

Enter name to add existing contactsanju
Enter data to updatesanjana@gmail.com

In [11]:
print(contact)

{'sanju': ['518', 'cse', 'jntuk', 'sanjana@gmail.com']}

In [12]:
if option == "3":
    name = input("Enter name to edit contact")
    if name in contact:
        data = input("Enter data to update").split()
        contact[name].update(data)
    else:
        print(name, "contact is not available")

In [13]:
print(contact)

{'sanju': ['518', 'cse', 'jntuk', 'sanjana@gmail.com']}

In [14]:
if option == "4":
    name = input("Enter name to delete contact")
    if name in contact:
        contact.pop(name)
    else:
        print(name, "contact is not available")

In [15]:
print(contact)

{'sanju': ['518', 'cse', 'jntuk', 'sanjana@gmail.com']}

In [16]:
if option == "5":
    name = input("Enter name to delete contact")
    if name in contact:
        print(contact[name])
    else:
        print(name, "contact is not available")

In [2]:
## code for contact application


option = input("""Press the option
1. Create contact  
2. add the contact to existing contact  
3. edit the contact 
4. delete the contact
5. View contact""")
contact = {}
if option == "1":
    key = input("Enter contact name:")
    value = input("Enter details with space seperator").split()
    contact[key] = value
elif option == "2":
    name = input("Enter name to add existing contact")
    if name in contact:
        data = input("Enter data to update").split()
        contact[name].extend(data)
    else:
        print(name, "contact is not available")
elif option == "3":
    name = input("Enter name to edit contact")
    if name in contact:
        data = input("Enter data to update").split()
        contact[name].update(data)
    else:
        print(name, "contact is not available")
elif option == "4":
    name = input("Enter name to delete contact")
    if name in contact:
        contact.pop(name)
    else:
        print(name, "contact is not available")
elif option == "5":
    name = input("Enter name to view contact")
    if name in contact:
        print(contact[name])
    else:
        print(name, "contact is not available")

Press the option
1. Create contact
2. add the contact to existing contact
3. edit the contact
4. delete the contact
5. View contact5
Enter name to view contactsanju
sanju contact is not available