## Contents

- Machine Learning intro

## Machine Learning

- Aurthur Sameul(In Machine lerning we give the computer the ability to learn without being explicitly programmed)

- 3 types of learning
    - Supervised Learning
        - Regression
        - Classification
    - Unsupervised Learning
        - Clustering
        - Dimensionality Reduction
    - Reinforcement Learning

***Regression***

- relationship between independent variable and dependent variable

1. Simple Linear Regression
    - Simple - one dependent variable and one independent variable
    - Linear - relationship is approximately over a straight line.

In [2]:
import pandas as pd
df = pd.read_csv("salary.csv")

In [3]:
df.head()

,Unnamed: 0,District,Salary,Age,English,Education,Gender
0,0,Brooklyn,120000.0,31,Only language,Academic degree,Male
1,1,Brooklyn,45000.0,28,Only language,Academic degree,Female
2,2,Manhatten,85000.0,54,Only language,Academic degree,Male
3,3,Manhatten,12000.0,45,Only language,High school diploma,Female
4,4,Brooklyn,0.0,75,Very well,Academic degree,Female