## Contents

- NaiveBayesClassifier

- Based on Bayes theorem for calculating probability and conditionally probability
- P(A|B) = (P(B|A)*P(A))/P(B)
- A ->Output
- B ->Features data

In [2]:
# from sklearn.naive_bayes import GuassianNB

In [1]:
import pandas as pd
df=pd.read_csv("https://raw.githubusercontent.com/AP-State-Skill-Development-Corporation/Data-Science-Using-Python-Internship-EB1/main/Notebooks/amazondataset.csv")

In [2]:
df.head()

                                     uncleanedreview  decision
0  I had the Samsung A600 for awhile which is abs...  positive
1  Due to a software issue between Nokia and Spri...  positive
2  This is a great, reliable phone. I also purcha...  positive
3  I love the phone and all, because I really did...  positive
4  The phone has been great for every purpose it ...  positive

In [3]:
df["decision"].value_counts()

positive    57512
negative    14410
Name: decision, dtype: int64

In [4]:
a=df.iloc[2:3,0]
a

2    This is a great, reliable phone. I also purcha...
Name: uncleanedreview, dtype: object

In [5]:
import nltk
nltk.download('punkt')
from nltk import word_tokenize
data="This is a great, reliable phone. I also purchased."
print(word_tokenize(data))

[nltk_data] Downloading package punkt to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping tokenizers\punkt.zip.

['This', 'is', 'a', 'great', ',', 'reliable', 'phone', '.', 'I', 'also', 'purchased', '.']

In [6]:
nltk.download('stopwords')
from nltk.corpus import stopwords
stopWords=set(stopwords.words('english'))

[nltk_data] Downloading package stopwords to
[nltk_data]     C:\Users\Admin\AppData\Roaming\nltk_data...
[nltk_data]   Unzipping corpora\stopwords.zip.

In [7]:
print(stopWords)

{'such', 'the', "wouldn't", 'of', 'between', 'now', "isn't", 's', "won't", 'aren', 'theirs', 'in', 'can', "shan't", 'you', 'she', 'your', 'but', 'more', 'll', 'here', 'do', 'me', 'are', "shouldn't", 'just', 'above', 'their', 'does', 'not', 'needn', 'own', 'both', 'over', 'didn', "you'd", 'before', "hadn't", "should've", 'be', 'some', 'myself', 'hers', 'how', 'against', 'because', 'or', 'm', "aren't", 'for', 'my', 'there', 'himself', 'yourselves', 'd', 'all', "couldn't", 'will', 'am', 'wouldn', 'nor', 'through', 'below', 'whom', 'during', 'why', 'hasn', "wasn't", 'same', 'should', 'yourself', 'her', "you're", 'isn', "you've", 'ma', 'itself', 'him', 'they', 'ain', 'hadn', 'wasn', 'did', 'mustn', "mustn't", 'while', "weren't", 'where', 'couldn', "don't", "doesn't", 'doesn', 'having', "she's", 'those', 'herself', 'o', 'ours', 'was', 'had', 'no', 'further', 'this', 'by', 'he', 'have', 'as', 'until', 'to', 'its', 'so', 't', 'weren', 'themselves', 'down', 'won', 'again', 'which', 'after', 'shouldn', 'these', 'other', 'were', 'if', 'mightn', 'i', "hasn't", "mightn't", 'with', 'been', 'ourselves', "haven't", 'from', 'is', 'few', 're', 'them', 'on', "didn't", 'we', 'a', "needn't", 'it', 've', "it's", 'our', 'don', 'off', 'and', "that'll", 'when', 'his', 'shan', 'what', 'an', 'doing', 'that', 'most', 'about', 'out', 'too', 'very', 'under', 'up', 'then', 'being', 'y', 'into', 'each', 'who', 'haven', "you'll", 'any', 'only', 'yours', 'has', 'than', 'at', 'once'}

In [9]:
import string
data="This is a great!, reliable phone. I also purchased."
b=[i for i in data if i not in string.punctuation]   #to remove punctuation in text

In [10]:
new_data="".join(b)
new_data

'This is a great reliable phone I also purchased'

In [11]:
n_data=new_data.split()
n_data  #split the data into words(can also be done by word tokenizer)

['This', 'is', 'a', 'great', 'reliable', 'phone', 'I', 'also', 'purchased']

In [12]:
from sklearn.feature_extraction.text import CountVectorizer
d1=['This is a great reliable phone I also purchased']
vec=CountVectorizer()
vec.fit(d1)

CountVectorizer()

In [13]:
vec.vocabulary_

{'this': 6,
 'is': 2,
 'great': 1,
 'reliable': 5,
 'phone': 3,
 'also': 0,
 'purchased': 4}

In [14]:
vectorizer=vec.transform(n_data)
print(vectorizer)

  (0, 6)	1
  (1, 2)	1
  (3, 1)	1
  (4, 5)	1
  (5, 3)	1
  (7, 0)	1
  (8, 4)	1

In [15]:
d2=n_data
vec=CountVectorizer()
print(vec.fit_transform(n_data))

  (0, 6)	1
  (1, 2)	1
  (3, 1)	1
  (4, 5)	1
  (5, 3)	1
  (7, 0)	1
  (8, 4)	1